@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}
.nav-logo{
    height: 10%;
    width: 50%;
}
.nav-items{
   display: flex;
   gap: 50px;   
}

.nav-item{
    text-decoration: none;
   color: black;
   font-family: "Poppins", sans-serif;
}
.create-account-button{
    border: none;
    background-color: #5F6FFF;
    padding: 12px 20px;
    border-radius: 47px;
    color:#FFFFFF;
    font-family: "Outfit", sans-serif;
    cursor: pointer;
}
.nav-line-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-top: 1%;
}
.nav-line{
    background-color: #ADADAD;
    height: 2px;
    width: 95%;
}
.background{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #5F6FFF;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-top: 2%;
}
.background-content{
    display: flex;
    min-height: 30vw;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    color: #FFFFFF;
    font-family: "Outfit", sans-serif;
    

}
.heading{
    margin-top: 10%;
    max-width: 80%;
    text-align: start;
    margin-bottom: 5%;
}
.sub-text{
    font-weight: 200;
    font-size: small;
   

}
.text-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin-left: 10%;

}
.circle{
    width: 15%;
}
.background-book-appointment-button{
    border: none;
    background-color: #FFFFFF;
    color: black;
    padding: 12px 20px;
    border-radius: 47px;
    margin-top: 3%;
    margin-right: 30%;
    cursor: pointer;
}
.right{
    max-width: 50%;
}
.section-one-image{
    height: 90%;
    width: 100%;
}
.specialty-heading{
    text-align: center;
    margin-top: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}
.specialty-sub-heading{
    text-align: center;
    margin-top: 3px;
    font-weight: 300;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}
.sub-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sub-logo-container p{
    font-family: "Outfit", sans-serif;

}